{% extends 'base.html' %}

{% block content %}

<div id="main-content-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="post-item-box">
                    <div class="thread-main-box">
                        <ul class="threadlist" id="thread_list_posts">
                            <li class="thread">
                                <div class="thread_link">
                                    <div class="thread_box thread_box-left text-center">
                                    </div>
                                    <div class="thread_box thread_box-right">
                                        <div class="thread_title">
                                            <a href="{% url 'hamch:detail' post.pk %}"
                                                rel="nofollow noopener">{{ post.subject}}</a>
                                        </div>
                                        <div class="thread-content ">
                                            <p title="クリックして展開する" class="full-content">
                                                {{ post.content }}
                                            </p>
                                        </div>
                                        <div class="poster_info">
                                            <span class="name">{{ post.name }}</span> <span
                                                class="date">{{ post.created_at }}</span>
                                        </div>
                                        <div class="thread_detail text-end">

                                        <span class="thread_detail_child" title="try">
                                            <a href="{% url 'hamch:count_up_try' post.pk %}">
                                                <i class="fa fa-heart"></i>
                                                {{ post.try_count }}
                                                試したい
                                            </a>
                                        </span>
                                        <a href="{% url 'hamch:count_up_try_done' post.pk %}">
                                            <i class="fas fa-star"></i>
                                            {{ post.try_done_count }}
                                            試した
                                        </span>
                                    </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li> </li>
                        </ul>
                    </div>
                    <div class="thread">
                        {% for comment in comments %}
                        <div class="comment">
                            <div class="meta">
                                <span
                                    class="name"><b>{{ comment.name }}</b></span><span class="date">{{ comment.created_at }}</span>></div>
                            <div class="message"><span class="escaped">
                                 {{ comment.content }}
                                </span></div>
                        </div>
                        <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {% include 'sidenav.html' %}
            </div>
        </div>

            <div class="formbox">
                <form method="POST">
                    {% csrf_token %}
                    {% comment %} {{ form.as_p }} {% endcomment %}
                    <form>
                        <div class="mb-3">
                            <h5>
                                コメントを投稿する
                            </h5>
                            
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">名前</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        
                        <div class="mb-3">
                            <label for="content" class="form-label">コメント</label>
                            <textarea class="form-control" id="content" rows="10" name="content"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">投稿する</button>
                    </form>
                </form>
            </div>
        </div>
        </div>


{% endblock %}